.App {
          width: 100%;
}










.App .content {
          width: 100%;
          min-height: 100vh;
          background-color: none;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          z-index: 1;
         


}

.App .content .content-desc {
          width: 30%;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          color: white
}


.App .content .content-desc a{
          text-decoration: none;
          color:white;
          font-weight: 200;
          background-color: black;
          border-radius: 5px;
          padding: 10px;
          margin: 30px 0px;
          font-size: 20px;
          text-align: center;
          width: fit-content;

}
.App .content .content-desc p {
          font-size: 50px;
          font-weight: 600;
          text-align: center;
          margin: 30px 0px;



}

.App .content .content-desc p.desc {
          font-size: 20px;
          color: grey
}

.App .content .content-desc p.desc:hover {
          color: white;
}

.App .content .content-desc span {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 10px;
}

.App .content .content-desc span button {
          padding: 10px;
          border-radius: 2px;
          background-color: aliceblue;
          color: black;
          border: none;
          font-size: 20px;
          transition: 0.2s;
}

.App .content .content-desc span button:hover {
          background-color: black;
          color: white;
        
}

.App .content .form {
          background-color: black;
          display: flex;
          flex-direction: column;
          padding: 30px 10px;
          width: 30%;
          margin: 0px 10%;
          opacity: 0.8;

          border-radius: 10px;
          
          background-position: center;


}

.App .content .form span {
          display: flex;
          padding: 10px;
          color: white;
          justify-content: space-between;
          font-size: 20px;
          margin: 10px 0px;

}

.App .content .form span.button {
          width: 100%;
          display: flex;
          justify-content: center;

}

.App .content .form span.button button {
          padding: 15px;
          background-color: green;
          color: black;

          border: none;
          border-radius: 5px;
          font-size: 15px;
          transition: 0.2s;
}

.App .content .form span.button button:hover {
          background-color: rgb(20, 102, 77);
          color: white;
          
}

.App .content .form span input {
          width: 60%;
          border: none;
          outline: none;
          background-color: black;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-bottom-color: white;
          display: flex;
          padding: 10px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          color: grey
}

.App .content .form span input:hover {
          background-color: rgb(22, 21, 21);
          color: white
}

.App .content .form span input::placeholder {
          color: gray;
}

.App .notes {
          width: 100%;
          min-height: 300px;
          background-color: black;
          display: flex;
          flex-direction: column;
}

.App .notes .title {
          width: 100%;
          display: flex;

          font-size: 40px;
          color: white;
          padding: 10px
}
.App .notes .message{
          font-size: 40px;
          color:white
}

.App .note-items {
          width: 100%;
          padding: 10px;
          display: grid;
          grid-template-columns:1fr 1fr 1fr;
          grid-column-gap: 20px;

}

@media (max-width:600px) {
          .App .content{
                    justify-content: space-between;
                    flex-direction: column;
          ;
          }
          .App .content .content-desc {
                    width:100%;
                    height:50%;
                    justify-content: center;
                    align-items: center;
                    margin:10vh 0%;
          }
          .App .content .form{
                    width:80%;
                    padding:10px 10px;
                    margin:0px 0px;
          }
          .App .notes{
                    min-height: 100px;
          }
          .App .notes .title {
                    font-size: 20px;
          }
          .App .notes .message{
                    font-size: 20px;
          }
          .App .note-items{
                    grid-template-columns: 1fr;
                    grid-column-gap: 0px;
          }
          .App .content .form span{
                    padding:5px;
                    font-size: 15px;
          }
          .App .content .form span.button button{
                    padding:10px;
                    font-size: 10px;
          }
          .App .content .content-desc a{
                 
                    font-size: 15px;
                   
          
          }
          .App .content .content-desc p {
                    font-size: 30px;
                    font-weight: 400;
                   
          
          
          
          }

          
}
