@media (max-width:600px) {
          .main .form {
                    width: 80%!important;

          }

          .main .form span {
                    font-size: 15px!important;
                    margin: 0px !important;
          }

          .main .form span.button button{
                    padding: 10px !important;
                    font-size: 15px !important;

          }

}